*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,213,255,1);
    font-family: 'poppins';
}
.calculator {
    height: 350px;
    width: 400px;
    padding: 50px;
    background-color: #0A2647;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}
.calculator input {
    width: 100%;
    margin-bottom: 10px;
}
.btn-gruop{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
input[type='text'],
button,
#result{
    border: none;
    border-radius: .5rem;
    font-size: 1.2rem;
    padding: .5rem;
}
button{
    padding: .5rem 1.5rem;
    font-weight: bold;
}
#result{
    width: 100%;
    background-color: #fff;
}

.attribute{
    position: absolute;
    bottom: 10px;
}

@media (max-width:768px) {
    .calculator{
        width: 300px;
    }
}