@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --clr-primary: rgba(0,213,255,1);
    --clr-container-bg: #fff;
    --clr-btn-bg: rgb(0, 122, 209);
    --clr-btn-hover-bg: rgba(0,175,255,1);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-primary);
    font-family: 'poppins';
    position: relative;
}
.container {
    width: 350px;
    min-height: 350px;
    padding: 20px;
    border: none;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    background-color: var(--clr-container-bg);
    color: #333;
    text-align: center;
}
.content{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 20px;
    font-size: 18px;
} 
input {
    padding: 8px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}
#result {
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
}
.attribute{
    position: absolute;
    bottom: 10px;
}

@media (max-width:768px) {
    .container{
        width: 300px;
    }
}